<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <img src="../assets/ibm.png" alt="ibm" height="20" width="40">
      </button>
    </ion-buttons>
    <ion-title color="primary">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="show">
  <ion-list *ngFor="let card of show.Transaction">
      <ion-item-divider color="light">{{card.Date}}</ion-item-divider>
      <ion-item>
        <ion-icon name="card" item-start></ion-icon>
        {{card.AccountName}}
      </ion-item>
      <ion-item>
          <ion-icon name="basket" item-start></ion-icon>
          {{card.Product}}
        </ion-item>
      <ion-item>
          <ion-icon name="cash" item-start></ion-icon>
          {{card.Price}} DHS
        </ion-item>
    </ion-list>
    </ng-container>
</ion-content>

<ion-footer no-border>

  <footer>
    <p class="copyright"> Made by © IBM 2019 </p>
</footer>

</ion-footer>