<!-- Generated template for the CarouselComponent component -->


<div class="carousel-container">
    <div class="carousel">
      <div radio-group class="carousel-slide-item slide-item-{{i}}" *ngFor="let item of items; let i=index"
           [style.background-color]="item.color"
           [ngStyle]="{'transform': 'rotateY(-'+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-webkit-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-ms-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)',
          '-o-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)'}"
           (swipeleft)="onSwipeLeft($event);"
           (swiperight)="onSwipeRight($event);"
              >
  
          <ion-card >
              <ion-card-content>
                  <ion-card-title>
                      {{item.title}}
                      <p>{{item.account}}</p>
                  </ion-card-title>
              </ion-card-content>
          </ion-card>
      </div>
    </div>
  </div>